<div class="auth">
  <div class="overlay">
    <div class="log-in">
      <div class="container">
        <div class="form">
          <%= image_tag "login_key1.png", class: "login-img" %>
          <%= render "partials/login_form" %>
          <p>Not registered yet? <%= link_to 'Sign up', signup_path %> here.
        </div>
      </div>
    </div>
  </div>
</div>