<nav>
<div class="nav-wrapper">
<div class="container">
  <a href="#" class="brand-logo">RoomChecker</a>
  <ul id="nav-mobile" class="right">
    <li><%= link_to 'Add room', new_room_path %></li>
  </ul>
  </div>
</div>
</nav>