<div class="auth">
  <div class="overlay">
    <div class="log">
      <div class="container">
        <div class="form">
        <%= image_tag "signupIcon.png", class: "login-img" %>
          <%= render 'partials/new_user_form' %>
          <p>Already have an Account? <%= link_to 'Login', login_path %> here.
        </div>
      </div>
    </div>
  </div>
</div>