<%= render "partials/navbar" %>
<div class="index">
    <div class="overlay">
        <div class="welcome">
            <h1>Welcome!, Need a room?</h1>
                <button class="waves-effect blue waves-light btn"><i class="material-icons left">view_comfy</i><%= link_to "View all Rooms", rooms_path, class: 'view-room' %>
                </button>
        </div>
    </div>
</div>
