<%= render "partials/navbar" %>
<div class="auth">
  <div class="overlay">
    <div class="container">
      <div class="form">
        <h2>Edit room</h2>
          <%= render "partials/form" %>
      </div>
    </div>
  </div>
</div>