<%= render "partials/navbar" %>
<div class="auth">
  <div class="overlay">
    <div class="container">
      <div class="form">
        <h3>Add a new room</h3>
          <%= render "partials/new_room_form" %>
      </div>
    </div>
  </div>
</div>