// @import "materialize/components/color";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
@import "materialize";

html, body{
    min-height: 100%;
  }
  body{
    position: relative;
    font-family: 'Lobster', cursive;
  }
  div.index {
    background: url('room2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
}

div.overlay {
    position: absolute;
    background-color: rgba(5, 56, 107, 0.41);
    height: 100%;
    width: 100%;
}

.welcome > h1 {
    margin-top: 15%;
    color: #05386b;
    text-shadow: 1px 1px 2px #fff
    
}

.btn {
    font-family: 'Acme', sans-serif;
}

.view-room {
    color: #fff;
}

.image {
    background-color: rgba(34, 104, 190, 0.28);
    height: 200px;
    width: 100%;
}

.desc {
    // margin: 0 50px;
}

.image-tag {
    height: 400px;
    width: 100%;
    // margin: 0 -90px;
}

.nav-wrapper {
    background-color: rgb(5, 56, 107)
}
.room-list {
    background-color: rgb(222, 218, 218);
}

.single-room {
    margin: 60px;

}

.page-footer {
    background-color: #05386b;
}

a.brand-logo {
    color: #46B0D4;
}

.form {
    margin: 0px 20%;
    @media screen and (max-width: 600px) {
        margin: 0px 5%;
    }
}

